.my-nav{
	background-color: #00bcd4;
	height:90px;
}
.max-height{
	height: 100%;
	min-width: 480px;

}
.nav-guy > ul > .nav-item:hover a { 
    background-color: white;
    color: black;
}

.small-logo {
	padding: 0;
	height: 100%;
	float: left;
}
.contact-info {
	margin-bottom: 8vw;
}
.nav-new > li > a{
	line-height: 60px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-item > a{

	display: block;
	height: 90px;
	line-height: 4;
	text-decoration: none;
	text-align: center;
	font-size: 155%;
	color: white;
	min-width: 83px;
	font-weight: 100;

}

.nav-item {
	float: right;
	width: 17%;
}

.home {
	background: 
    linear-gradient(
      rgba(31, 47, 48, 0.75), 
      rgba(31, 47, 48, 0.75)
    ),
	url(images/mixer.png) no-repeat center center fixed;
	filter: blur(5px);


	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-logo {
	margin-top: 7%;
	margin-bottom: 7%;
}

.header {
	text-align: center;
	color: #00bcd4;
	font-weight: 200;
	font-size: 7vw;
	margin-top: 0;
	margin-bottom: 0;
}

.sub-header {
	text-align: center;
	font-weight: 100;
	font-size: 2.4vw;
	margin-top: 1%;
	margin-bottom: 3%;
	color: white;
}

.meeting-button{
	background-color: #00bcd4;
	color: white;
	font-size: 1.7vw;
	margin-bottom: 6%;
}

.item{
	font-size: 19vw;
	margin-top: 8vw;

}
.headshot{
	font-size: 19vw;
	margin-top: 3vw;
}
.icon-item{
	color: #00bcd4;
}
.icon-title {
	color: #00bcd4;
}
.title {
	font-size: 3vw;
	font-weight: 200;
	margin-top: -2.5vw;
	margin-bottom: 2.5vw;
}

.align-center{
	text-align: center;
}
.content{
	width: 115%;
	margin-left: -8%;
	margin-bottom: 7vw;
}
.staff {
	background-color: #00bcd4;
}
.crew {
	font-size: 6.5vw;
	color: white;
	font-weight: 100;
	margin-top: 7vw;

}
.white-text {
	color: white;
}
.white-link {
	color: white;
}
.white-link:hover {
	color: white;
}
.action-text {
	color: white;
	margin-top: 7vw;
	margin-bottom: 5vw;
	font-weight: 100;
}
.footer {
	height: 7vw;
}
